Port 22
AllowUsers %%USER%%

PermitRootLogin no
PubkeyAuthentication no
PasswordAuthentication no
ChallengeResponseAuthentication no
DisableForwarding yes
X11Forwarding no
AllowTcpForwarding no
PermitUserRC no

LogLevel VERBOSE
UsePAM no

Match User %%USER%%
    ForceCommand %%BINARY%%
    PermitTTY yes
    PermitEmptyPasswords yes
    PasswordAuthentication yes